<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Havi nézet ${year}. ${monthName}</title>
    <link rel="stylesheet" href="/styles/common/common.css" />
    <link rel="stylesheet" href="/styles/common/dialog.css" />
    ${templateConstants}
</head>

<body>

    <dialog id="addCostDialog">
        <p class="dialogTitle">Költség hozzáadása</p>
        <div class="dialogContainer">
            <div class="form-row">
                <label for="costDayInput">Nap: </label><br>
                <input type="number" id="costDayInput" name="costDayInput" /><br>
            </div>
            <div class="form-row">
                <label for="costAmountInput">Összeg: </label><br>
                <input type="number" id="costAmountInput" name="costAmountInput" /><br>
            </div>
            <div class="form-row">
                <label for="costCategoryInput">Kategória: </label><br>
                <input type="text" id="costCategoryInput" name="costCategoryInput" /><br>
            </div>
            <div class="form-row">
                <label for="costCommentInput">Megjegyzés: </label><br>
                <input type="text" id="costCommentInput" name="costCommentInput" /><br>
            </div>
        </div>
        <hr>
        <div style="display: flex; justify-content: right;">
            <button onclick="createCost()">Hozzáadás</button>
            <button onclick="closeAddCostDialog()">Mégsem</button>
        </div>
    </dialog>

    <div
        style="display: flex; justify-content: space-evenly; max-width: 1200px; margin-left: auto; margin-right: auto;">
        <div id="leftColumnDiv" style="width: fit-content; display: block; float: left;">
            <div id="costTableDiv">
                <button id="addCostButton" onclick="openAddCostDialog()">Hozzáadás</button>
                <button id="editCostButton">Módosítás</button>
                <button id="deleteCostButton">Törlés</button>

                <table>
                    <thead>
                        <tr>
                            <th colspan="5">Havi kiadások</th>
                        </tr>
                        <tr>
                            <th colspan="2">Nap</th>
                            <th>Összeg</th>
                            <th>Kategória</th>
                            <th>Megjegyzés</th>
                        </tr>
                    </thead>
                    <tbody id="costTableTbody">

                    </tbody>
                </table>
            </div>
        </div>

        <div id="rightColumnDiv" style="width: fit-content; display: block; float: left;">
            <div id="goalTableDiv">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Havi célok</th>
                        </tr>
                    </thead>
                    <tbody id="goalTableTbody">
                        <tr>
                            <td>Százalék</td>
                            <td id="monthlyGoalPercentageTd">TODO</td>
                        </tr>
                        <tr>
                            <td>Összeg</td>
                            <td id="monthlyGoalAmountTd">TODO</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div id="incomeTableDiv">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Havi bevételek</th>
                        </tr>
                        <tr>
                            <th>Megnevezés</th>
                            <th>Összeg</th>
                        </tr>
                    </thead>
                    <tbody id="incomeTableTbody">

                    </tbody>
                </table>
            </div>
            <hr>
            <div id="fixCostTableDiv">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Havi fix kiadások</th>
                        </tr>
                        <tr>
                            <th>Megnevezés</th>
                            <th>Összeg</th>
                        </tr>
                    </thead>
                    <tbody id="fixCostTableTbody">

                    </tbody>
                </table>
            </div>

            <div id="briefSummaryTableDiv">

            </div>

            <div id="monthlySpendingsByCategoryTableDiv">

            </div>
        </div>
    </div>

    <script type="text/javascript" src="/script/common/tables.js"></script>
    <script type="text/javascript" src="/script/common/restClient.js"></script>

    <script type="text/javascript" src="/script/monthly/monthlyData.js"></script>
    <script type="text/javascript" src="/script/monthly/addCostDialog.js"></script>

</body>

</html>