<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Havi nézet ${year}. ${monthName}</title>
    <link rel="stylesheet" href=""/>
</head>
<body>
    <div id="leftColumnDiv" style="width: 50%; background-color: red;">
        <div id="incomeTableDiv">
            <table>
                <th>
                    <td>Megnevezés</td>
                    <td>Összeg</td>
                </th>
            </table>
        </div>
        <div id="fixCostTableDiv">

        </div>
        <div id="costTableDiv">

        </div>
    </div>
    <div id="rightColumnDiv" style="width: 50%; background-color: green;">

    </div>
</body>
</html>